.appointment-wrapper {
    padding: 20px;
    width: 100%;

    & form {
        display: flex;
        flex-direction: column;

        & .fields-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            & .MuiInputLabel-formControl{
                z-index: 10;
            }
            & .has-error {
                border: 1px solid red;
            }
        }

        & .submit-btn {
            width: fit-content;
            height: 40px;
            text-transform: none;
            align-self: center;
        }
    }
}